<%- include("../partials/header") %> <%- include("../partials/navbar") %>

<h1 class="photoSubmissionTitle">
   Edit Photo
</h1>

<form action="/users/<%= currentUser._id %>/photos?_method=PUT" method="post">
   <input type="hidden" value="<%= photo._id %>" name="photoId" />

   <!-- TODO-- have show thumbnail instead of actual photo -->
   <img
      class="editThumbnail"
      src="\uploads\<%=photo.fileName %>"
      alt="cannot display image"
   />

   <label for="latitude">Enter a caption for your photo </label>
   <input name="caption" type="text" value="<%= photo.caption %>" />"

   <label for="latitude">Latitude </label>
   <input
      name="latitude"
      type="text"
      value="<%= (photo.latitude.length>0)? photo.latitude: photo.exifMetaData.latitude %>"
   />
   <label for="longitude">Longitude </label>
   <input
      name="longitude"
      type="text"
      value="<%= photo.exifMetaData.longitude %>"
   />
   <% console.log("cap "+ photo.caption ) %>
   <!-- a future version would show coord on map and have the user select from map to get coord if none present or wrong -->

   <a
      class="btn btn-primary"
      onclick="window.open('https://www.gps-coordinates.net/', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"
   >
      Find location on map
   </a>

   <label for="tagString"
      >enter tags -- no need for the ugly octothorp (#)
   </label>
   <input name="tagString" type="text" placeholder="ex: macro insect nature" />
   <label for="description">Enter a description for your photo </label>
   <textarea
      name="description"
      type="text"
      placeholder="enter a description here"
   ></textarea>

   <button class="btn btn-primary" type="submit">submit Changes</button>
</form>

<%- include("../partials/footer") %>
