<%- include("../partials/header") %> <%- include("../partials/navbar") %>


<!-- styles sheet for photo page -->

<link rel="stylesheet" href="../../styles/photoPage.css" />


<!-- adding leaflet map links -->
<link
   rel="stylesheet"
   href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"
/>

<!-- ////////////////// -->
<!--    html   -->
<!-- ////////////////// -->

<!-- temp to get feilds below nav bar, delete and alter CSS -->
<H1></H1>
<!-- search bar for photos -->

<!-- dataset to hold query -->
<p id="photoQuery" data-path ="/photos/map?" data-query="<%=  JSON.stringify(query) %>" hidden></p>


   <button id="loadResults" class="btn btn-pimary btn-sm">search</button>
   <input type="text" id="photoSearch" placeholder="Serach name and description" />



   <!-- powerSearch holds additional search options-- hidden by default   -->
<button id="powerSearchBtn" class="btn btn-pimary btn-xs">Show Power Search Options</button>
<div id="powerSearch" class="hiddenOnLoad">

   <label for="tagSearch">Search by tags</label>
<input type="text" id="tagSearch" placeholder="Seperate tag each with a space" />
<label for="userSearch">Search by user name</label>
<input type="text" id="userSearch" placeholder="Enter name or part of name" />

<div id="GPSgroup">
<label for="GPSgroup">Search for distance from GPS coordinates. Latitude, longitude, and distance are all require for GPS search</label>
<label for="longSearch">Longitude</label>

<input type="text" id="longSearch" placeholder="Value between -180 and 180" />
<label for="latSearch">Latitude</label>   
<input type="text" id="latSearch" placeholder="Value between -90 and 90" />
<label for="distSearch">Distance from Coordinates in Km </label>   
<input type="text" id="distSearch" placeholder="km from coordinates" />
</div>


<label for="maxIso">Max ISO</label>   
<input type="text" id="maxIso" placeholder="Value between 0 and 50000" />
<label for="minIso">Min ISO</label>   
<input type="text" id="minIso" placeholder="Value between 0 and 50000" />

<label for="maxExp">Max Exposure time in seconds </label> 
<input type="text" id="maxExp" placeholder="Value between 0 and 10800" />
<label for="minExp">Min Exposure time in seconds </label> 
<input type="text" id="minExp" placeholder="Value between 0 and 10800" />

<label for="maxFStop">Max F-Stop </label>   
<input type="text" id="maxFStop" placeholder="Value between 0 and 200" />
<label for="minFStop">Min F-Stop </label>   
<input type="text" id="minFStop" placeholder="Value between 0 and 200" />
</div>


<div id="ErrorList">
   <% if( Object.keys(errors).length >0 ){%>
      <h2>errors found in query: </h2>
      <%  Object.keys(errors).forEach((errorType, ndx) =>{%>
         <h3><%= errorType%></h3>
         <p><%=errors[errorType]%></p>
   <% })} %>
</div>

<!-- map  --><!-- TODO -- hide map if no images with GPS tags or have it show home location -->


<% if( photosFound.length >0 ){%>
   <h1 class="sectionTitle">Photos around the world</h1>

   <% } else{%>
      <h1 class="sectionTitle">No photos found</h1>

  <% } %>


<div id="mapid"></div>





<% let photoList = photosFound %>
    
<!--gettting data to use in script --- might need to find better way to do this-- data esposed ad looks ugly-->
<p id="photoData" data-photos="<%= JSON.stringify(photoList)%>" hidden></p>

<div id="mapid"></div>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>



<!--//////////////////////  -->
<!-- Scripts  -->
<!--//////////////////////  -->

<!-- loading map script-->
<script src="../../scripts/profileMapScript.js"></script>   


<script src="../../scripts/photoSearchReload.js"></script>



<!-- script to get photos from search and generate html -- will include if -->
<!-- <script src="../../scripts/photoSearch.js"></script> -->


<!-- footer -->
<%- include("../partials/footer") %>
