<%- include("../partials/header") %> <%- include("../partials/nav") %>


<!-- styles sheet for photo page -->

<link rel="stylesheet" href="../../styles/photoPage.css" />


<!-- adding leaflet map links -->
<link
   rel="stylesheet"
   href="https://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"
/>

<!-- ////////////////// -->
<!--    html   -->
<!-- ////////////////// -->

<!-- temp to get feilds below nav bar, delete and alter CSS -->
<H1></H1>


   
<%- include("../partials/photos/powerSearch") %>





<div id="ErrorList">
   <% if( Object.keys(errors).length >0 ){%>
      <h2>errors found in query: </h2>
      <%  Object.keys(errors).forEach((errorType, ndx) =>{%>
         <h3><%= errorType%></h3>
         <p><%=errors[errorType]%></p>
   <% })} %>
</div>

<!-- map  --><!-- TODO -- hide map if no images with GPS tags or have it show home location -->


<% if( photosFound.length >0 ){%>
   <h1 class="sectionTitle">Photos around the world</h1>

   <% } else{%>
      <h1 class="sectionTitle">No photos found</h1>

  <% } %>


<div id="mapid"></div>





<% let photoList = photosFound %>
    
<!--gettting data to use in script --- might need to find better way to do this-- data esposed ad looks ugly-->
<p id="photoData" data-photos="<%= JSON.stringify(photoList)%>" hidden></p>

<div id="mapid"></div>
<script src="https://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>



<!--//////////////////////  -->
<!-- Scripts  -->
<!--//////////////////////  -->

<!-- loading map script-->
<script src="../../scripts/profileMapScript.js"></script>   


<script src="../../scripts/photoSearchReload.js"></script>



<!-- script to get photos from search and generate html -- will include if -->
<!-- <script src="../../scripts/photoSearch.js"></script> -->


<!-- footer -->
<%- include("../partials/footer") %>
