<!-- grid photo up top, map below with
    -caption below photo
    -description 
    -photoagrapher
    -camera 
    -make
    fstop, shutter, iso
    flash:
    location  -- get from api
    tags
    -date taken 
    date submitted

    side arrows -- prob to next photo on list


fsfg -->

<!-- if current user is owner --add button to change photo -->

<%- include("../partials/header") %> <%- include("../partials/navbar") %>
<div>
   <div class="photoContainer">
      <img
         class="photoImg"
         src="../../uploads/<%= photo.fileName %>"
         alt="cannnot display image"
      />
   </div>

   <div class="photoDetails">
      <p class="photoCaption"><%=photo.caption%></p>
      <p class="photoAuthor">Photograper -- <%=photo.author%></p>
   </div>

   <div>
      <p class="photoCaption"><%=photo.description%></p>
      <p class="photoSubmitted"></p>

      <p class="photoCameraModel"><%=photo.exifMetaData.Model%></p>
      <p class="photoCameraComapany"><%=photo.exifMetaData.Make%></p>
      <p class="photoTaken"><%= photo.dateTaken%></p>

      <div class="photoSettings">
         <p><%=photo.exifMetaData.ISO%> <%=photo.exifMetaData.ExposureTime%></p>
         <p><%=photo.exifMetaData.FNumber%></p>
      </div>

      <!-- add map with pin -->
   </div>
</div>
<%- include("../partials/footer") %>
