
<!-- TODO -- add links to nearby photos -->
<!-- if current user is owner --add button to change photo -->

<%- include("../partials/header") %> <%- include("../partials/nav") %>
<!-- adding leaflet map links -->
<link
   rel="stylesheet"
   href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"
/>

<div>
   <div class="photoContainer">
      <img
         class="photoImg"
         src="../../uploads/<%= photo.fileName %>"
         alt="cannnot display image"
      />
   </div>
   <!-- author and description -->
   <div class="photoDetails">
      <p class="photoCaption"><%=photo.caption%></p>
      <p class="photoAuthor">Photograper -- <a href="/users/<%=photo.SubmittedByID%>/profile"><%=photo.author%></a></p>
   </div>

   <!-- photo details  -->

   <div class="container photoDetailsContainer">
      <div class="row">
         <div class="col-lg-6 col-sm-12 img-fluid galleryfig">
            <h1 class="sectionTitle">Photo Details</h1>
            <p class="photoDescription">
               <i class="las la-pen-alt"></i>
               <strong>Description: </strong>
               <%=photo.description%>
            </p>
            <p class="photoSubmitted">
               <i class="lar la-calendar-plus"></i
               ><strong> Submitted on: </strong>
               <%=photo.dateSubmitted%>
            </p>

            <p class="photoCameraModel">
               <i class="las la-camera-retro"></i
               ><strong> Camera Model: </strong><%=photo.exifMetaData.Make %>
               <%=photo.exifMetaData.Model%>
            </p>

            <p class="photoTaken">
               <i class="lar la-calendar"></i><strong> Time Taken: </strong><%=
               photo.dateTaken%>
            </p>

            <div class="photoSettings">
               <p><strong> ISO: </strong><%=photo.exifMetaData.ISO%></p>
               <p>
                  <i class="las la-stopwatch"></i>
                  <strong> Exposure Time: </strong>
                  <%=photo.exifMetaData.ExposureTime%> seconds
               </p>
               <!-- jam icons has an iris/aperature -->
               <p><span class="your-custom-class" data-jam="aperture" data-fill="#222"></span><span class="jam jam-backpack"></span><strong>F-Stop: </strong><%=photo.exifMetaData.FNumber%></p>
            </div>

            <p class="tagList">
               <i class="las la-tags"></i><strong> Tags </strong><%
               (photo.tags.length>0) && photo.tags.forEach(tag =>{ %>
               <a class="label myTag label-default" href="/photos?tags=<%= tag%>"> <%= tag%> </a>

               <% }) %>
            </p>
         </div>

         <!-- map -->
         <div class="photoMapContainer col-lg-6 col-sm-12 img-fluid">
            <div class="mapFillContainer" id="photoPageMap"></div>
         </div>
      </div>
   </div>
</div>

<!-- edit and delete button for user to delete photo -->
<% if(currentUser && currentUser._id.equals(photo.SubmittedByID)){ %>
<a href="../../photos/<%= photo._id %>/edit" class="btn btn-info">Edit photo</a>

<form action="../../photos/<%= photo._id %>?_method=DELETE" method="POST">
   <button class="btn btn-danger" type="submit">Delete Photo</button>
</form>

<% } %>

<!-- data to be used by leaflet script -->
<p id="photoData" data-photo="<%= JSON.stringify(photo)%>" hidden></p>

<%- include("../partials/footer") %>

<!-- scripts for leaflet map -->
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<!-- script to generate map with photo -->
<script src="/scripts/photoPageScript.js"></script>
