<%- include("headerUser") %>

<h1 class="photoSubmissionTitle">
   Edit Submitted photos
</h1>

<form action="/users/:id/photos?_method=PUT" method="post">
   <input type="text" id="testytest" name="testytest" value="yay" />
   <% newPhotos.forEach(function(p, ndx) { %>

   <p>file located at <%= p._id %></p>
   <P>hi</P>
   <img
      class="editThumbnail"
      src="\uploads\<%=p.fileName %>"
      alt="cannot display image"
   />
   <label for="author">Author </label>
   <input name="author" type="text" placeholder="<%= p.author %>" />

   <label for="dateTaken">Date taken (format) </label>
   <input
      name="dateTaken"
      type="text"
      placeholder="enter a date in (..) format"
   />
   <label for="Latitude">Latitude </label>
   <input name="Latitude" type="text" value="<%= p.exifMetaData.latitude %>" />"

   <label for="tags">enter tags -- no need for the ugly octothorp (#) </label>
   <input name="tags" type="text" placeholder="ex: macro insect nature" />
   <label for="description">Enter a caption for your photo </label>
   <input
      name="description"
      type="textarea"
      placeholder="enter a description here"
   />

   <p><%= JSON.stringify(p.exifMetaData) %></p>
   <% }); %>

   <button class="btn btn-primary" type="submit">submit Changes</button>

   <p>transfered data<%= JSON.stringify(exifDataForID) %></p>
</form>

<%- include("footerUser") %>
