<%- include("headerUser") %>
<%- include("../partials/siteNavbar") %>
<!-- TODO -- validate form and send flashmessages if not suitable -->

<h1 class="photoSubmissionTitle">
   Edit Submitted photos
</h1>

<form action="/users/<%= currentUser._id %>/photos?_method=PUT" method="post">
   <% newPhotos.forEach(function(photo, ndx) { %>

   <input type="hidden" value="<%= photo._id %>" name="photoId" />


   <img
      class="editThumbnail"
      src="\uploads\<%=photo.fileName %>"
      alt="cannot display image"
   />
   <br>

   <label for="dateTaken">Date taken (format) </label>
 
   <input
      name="dateTaken"
      type="text"
      placeholder="enter a date in (..) format"
      value="<%= photo.exifMetaData.DateTimeOriginal %>"
   />

   <br>
   <label for="latitude">Enter a caption for your photo </label>
   <input name="caption" type="text" />
   <br>
   <label for="latitude">Latitude </label>
   <input
      name="latitude"
      type="text"
      value="<%= photo.exifMetaData.latitude %>"
   />

   <label for="longitude">Longitude </label>
   <input
      name="longitude"
      type="text"
      value="<%= photo.exifMetaData.longitude %>"
   />
   <br>
   <!-- a future version would show coord on map and have the user select from map to get coord if none present or wrong -->

   <a
      class="btn btn-primary"
      onclick="window.open('https://www.gps-coordinates.net/', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"
   >
      Find location on map
   </a>
   <br>
   <label for="tagString"
      >enter tags -- no need for the ugly octothorp (#)
   </label>
   <input name="tagString" type="text" placeholder="ex: macro insect nature" />
   <br>
   <label for="description">Enter a description for your photo </label>
   <br>
   <textarea
      name="description"
      type="text"
      placeholder="enter a description here"
   ></textarea>
   <br>


   <% }); %>

   <button class="btn btn-primary" type="submit">submit Changes</button>


</form>

<%- include("footerUser") %>
