<%- include("headerUser") %>

<h1 class="photoSubmissionTitle">
   Edit Submitted photos
</h1>

<form action="/users/<%= currentUser._id %>/photos?_method=PUT" method="post">
   <% newPhotos.forEach(function(photo, ndx) { %>

   <input type="hidden" value="<%= photo._id %>" name="photoId" />

   <img
      class="editThumbnail"
      src="\uploads\<%=photo.fileName %>"
      alt="cannot display image"
   />
   <label for="author">Author </label>
   <input name="author" type="text" placeholder="<%= photo.author %>" />

   <label for="dateTaken">Date taken (format) </label>
   <input
      name="dateTaken"
      type="text"
      placeholder="enter a date in (..) format"
   />
   <label for="latitude">Latitude </label>
   <input
      name="latitude"
      type="text"
      value="<%= photo.exifMetaData.latitude %>"
   />"

   <label for="tags">enter tags -- no need for the ugly octothorp (#) </label>
   <input name="tags" type="text" placeholder="ex: macro insect nature" />
   <label for="description">Enter a description for your photo </label>
   <input
      name="description"
      type="textarea"
      placeholder="enter a description here"
   />

   <p><%= JSON.stringify(photo.exifMetaData) %></p>
   <% }); %>

   <button class="btn btn-primary" type="submit">submit Changes</button>

   <p>transfered data<%= JSON.stringify(exifDataForID) %></p>
</form>

<%- include("footerUser") %>
