<!-- navbar -->
<nav class="mainNav navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">  Photagraphy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menueItems" aria-controls="menueItems" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menueItems">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/users/<%= contentOwner._id %>/profile"><strong>Viewing <%=contentOwner.name %>'s profile: </strong></a>
      </li>
      <li class="nav-item active"> 
        <a class="nav-link" href="/users/<%= contentOwner._id %>/photos">photos </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/users/<%= contentOwner._id %>/galleries">Galleries </a>
      </li>


      <li class="nav-item active">
        <a class="nav-link" href="/users/<%= contentOwner._id %>/contact">Contact</a>
      </li>

       <!--only show if user has these-->
    <li>  <a class="nav-item" href="https://www.instagram.com/j_r_ericson/"> 
      <i href="#" class="fab fa-instagram"  alt="instagram"/></i></a>
</li>

 
<i class="fab fa-500px nav-link" aria-hidden="true"></i></li>
 <li>   <i class="fab fa-flickr nav-link" aria-hidden="true"></i></li>

  <li><i class="fab fa-github nav-link" aria-hidden="true"></i></li>
 
<% if(currentUser) {%>

  <li class="nav-item  active">
    <a class="nav-link   " href="/logout">Logout </a>
  </li>
  <li class="nav-item  active">
    <a class="nav-link   " href="/users/<%= currentUser._id %>/settings">Settings </a>
  </li>

  <%} else{%>

    <li class="nav-item  ">
      <a class="nav-link  " href="/login">Login </a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link " href="/register">Register </a>
    </li>
    
  <%} %>



</li>

    </ul>





  </div>
</nav>
