<%- include("headerUser") %> <%- include("navbarProfile") %>

<h1>phot obj <%= JSON.stringify(photoList.photos) %></h1>

<h1>ID: <%= contentOwner._id %></h1>

<% if(currentUser){ %>
<h1>ID of cur user: <%= currentUser._id %></h1>
<% } %>
<!-- button to add more photos -->
<% if(currentUser && currentUser._id.equals(contentOwner._id)){ %>

<a href="./photos/upload" class="btn btn-info">Add to Portfolio</a>
<% } %>
<!-- adding each photos in list -->
<% photoList.forEach((photo, ndx) =>{%>

<p>photo located at <%= photo %></p>
<img
   class="thumbnail galleryThumb"
   class="editThumbnail"
   src="\uploads\<%= photo.fileName %>"
   alt="cannot display image"
/>
<p>latatude <%= photo.latitude %></p>

<% })%> <%- include("footerUser") %>
