 <%- include("headerUser") %> <%- include("../partials/nav") %>


<!-- css for justified Gallery -->
<link
   rel="stylesheet"
   href="../../JustifiedGalleryFiles/justifiedGallery.min.css"
/>

<!-- adding leaflet map links -->
<link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css



"
/>



<!-- creating list to hold cover photos -->  
<%let coverPhotoList %>
<% if (photoList.length>=5){%>
<% coverPhotoList = photoList.slice(0,5)%>
<% } else { %>
   <%  coverPhotoList = photoList}%>


<!-- carousel  at top of page-->
<div id="topImageCarousel" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
      <li
         data-target="#topImageCarousel"
         data-slide-to="0"
         class="active"
      ></li>
      <li data-target="#topImageCarousel" data-slide-to="1"></li>
      <li data-target="#topImageCarousel" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
<%coverPhotoList.forEach((photo, ndx)=>{ %>
   <% let active="" %>
   <% if (ndx===1){active="active"} %>

 <div class="carousel-item <%= active %>"> 
    <div class="caroImgContainer">
   <img class="caroImg"   src="/resources/photos/<%= photo.fileName %>/thumb/2000" alt=" slide <%= ndx %>" />
</div>
</div>

   <%}) %>



   <a
      class="carousel-control-prev"
      href="#topImageCarousel"
      role="button"
      data-slide="prev"
   >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
   </a>
   <a
      class="carousel-control-next"
      href="#topImageCarousel"
      role="button"
      data-slide="next"
   >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
   </a>
   <a href="#" class="btn btn-primary">Contact</a>
</div>

<!-- edit and delete button for user to delete photo -->
<% if(currentUser && currentUser._id.equals(contentOwner._id)){ %>
   <a href="" class="btn btn-info">Edit cover photos</a>
   <%  } %>


   <!-- container for top user galleries -->
   <!-- TODO -- have carousel for mobile size -->
 
   <div class="container galleryContainer">
      <h1 class="sectionTitle">Galleries</h1>
      <div class="row">
         <%let albumListCut = albumList %>
         <% if (albumList.length>=3){ %>
            <% albumListCut = albumList.slice(0,3) %>
         <%} %>

<% albumListCut  && albumListCut.forEach((album)=>{ %>
   <% if(album.alb_CoverPhoto.coverFileName){%>
      <% var photopath ="/resources/photos/" + album.alb_CoverPhoto.coverFileName%>
         <%  } else { %>
            <% var photopath = "/resources/photos/appImgs%2Ffolder-2103508_1280.png" %>
         <%}%>
       <figure class="col-lg-4 col-sm-12 img-fluid galleryfig mx-auto">
         <h4 class="centerItem"><strong><%= album.alb_Name%></strong></h4>
         <p class="centerItem">
           <%=album.alb_Description%>
        </p>
       <a href="/albums/<%= album._id %>">
          <img
             class="img-fluid"
             alt="<%=  album.alb_Name %>"
             src="<%= photopath %>/thumb/500">
  
       </a>
  

      </figure>
     
       <%})%>
      </div>
      </div>

   



         <a id=moreGalerriesBtn href="albums" class="btn btn-primary centerItem ">View all galleries</a>


<!-- map  -->
<!-- TODO -- hide map if no images with GPS tags or have it show home location -->
<% if(photoList && ( photoList.length >0 )){%>

<h1 class="sectionTitle">Places where <%= contentOwner.name%> has photographed</h1>

<% }%>
<div id="mapid"></div>

<!-- iamge gallery -->
<%- include("../partials/photoGallery") %>


<!--gettting data to use in script --- might need to find better way to do this-- data esposed ad looks ugly-->
<p id="photoData" data-photos="<%= JSON.stringify(photoList)%>" hidden></p>

<div id="mapid"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet-src.min.js
"></script>



<!-- TODO make sure images are loading with low bandwidth and not using too much resources -->
<!-- TODO-- exctract script file -->
<!-- TODO --  only run script if atleast one photo -->


<!-- loading map script-->
<script src="/scripts/profileMapScript.js"></script>   



<!-- jquerry -- needed for justified gallery -->
<script
   src="https://code.jquery.com/jquery-3.5.1.min.js"
   integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
   crossorigin="anonymous"
></script>

<!-- script for including justified gallery -->
<script src="/JustifiedGalleryFiles/jquery.justifiedGallery.min.js"></script>

<!-- justified gallery script for page -->

<script src="/scripts/resizeJustGalScript.js"></script>
<script src="/scripts/userScripts/clearToSolidNavbar.js"></script>

<%- include("footerUser") %>
