<%- include("headerUser") %>
<!-- TODO --//site nav bar??? -->

<!-- script tage for obtainging EXIF data -->

<!-- <img
      id="testImage"
      src="https://free-images.com/or/269b/bry.jpg"
      alt="cannot display"
   /> -->


   <!-- select album -->



<div class="container">
   <div class="row">
      <div class="col-md-6 m-auto">
         <h1 class="text-center display-4 my-4">Add to your portfolio</h1>
         <form
            action="/users/<%= contentOwner._id %>/photos/upload"
            method="POST"
            enctype="multipart/form-data"
         >
         <!-- TODO extract style -->
         <!-- dropdown menue to select album -->
         <style>.existingAlbums { border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll; }</style>
         <label for="existingAlbumsToAddTo"> Add to Existing Album(s)</label>
     

   
            <div id="existingAlbumsToAddTo" class="existingAlbums">
               <%  albumIds.forEach((album)=>{%>
                  <input name="existingAblums" value="<%= album._id%>"type="checkbox" /><%= album.alb_Name%> <br />
                  <% });%>
           </div>


   
        
        
        <!-- code for new album if selected -->
        <input name ="checkForNewAlbum"  type="checkbox" /> Create new Album <br />
     
        <br>
        <label for="newAlbumTitle">New album title</label>
        <input name ="newAlbumTitle" id="newAlbumTitle" type="text">
        <br>
        <label for="newAlbumDescription"> Album description</label>
        <input name="newAlbumDescription"  id="newAlbumDescription" type="text">

       
         
         
            <div id="uploadFormText" class="custom-file mb-3">
               <input
                  type="file"
                  name="userImage"
                  id="file"
                  class="custom-file-input"
                  required
                  multiple
                  onchange="changeInnerHtml();"
               />
               <label for="file" class="custom-file-label"
                  ><span id="fileUploadText">Choose jpgs or tiff to upload</span></label
               >
            </div>
            <input
               type="submit"
               value="Submit"
               class="btn btn-primary btn-block"
            />
         </form>
         <hr />
      </div>
   </div>
</div>
<!-- TODO is needed??? -->
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<!-- script for generating loaded names -->
<script src="../../../scripts/uploadScript.js"></script>



<%- include("footerUser") %>

