<%- include("headerUser") %> <%- include("navbarProfile") %>

<h1 class="">Broswer all users</h1>

<% allUsers.forEach((user) =>{ %>

<p><%= user.name %></p>
<p>
   homeLocation: <% user.homeLocation>0? user.homeLocation: "location unknown"%>
</p>
<p>
   homeLocation: <% user.homeLocation>0? user.homeLocation: "location unknown"%>
</p>

<a href="/users/<%= user._id %>/profile">Go to Profile</a>

<%}); %> <%- include("footerUser") %>
