<%- include("headerUser") %> <%- include("../partials/navbar") %>
<!-- style sheet for page -->

<link rel="stylesheet" href="../../styles/searchUsers.css" />





<h1 class="">Browse all users</h1>
<div id="variables" data-page="0"></div>
<!-- search bar  -->

<input
   id="profileSearch"
   type="text"
   placeholder="search by profile"
   data-page="0"
/>
<input
   id="userSearch"
   type="text"
   placeholder="search by user"
   data-page="0"
/>
<div id="userInfo"></div>

<!-- <div id="loadMoreButtonHolder"></div> -->
<button id="loadMore" >Load more results</button>
<% allUsers.forEach((user) =>{ %><!-- //TODO -- find way to hide button -->

<p><%= user.name %></p>
<p>
   homeLocation: <% user.homeLocation>0? user.homeLocation: "location unknown"%>
</p>

<a href="/users/<%= user._id %>/profile">Go to Profile</a>


<%}); %>


<!-- script for generating user elements in  page after search input is entered-->
<script src="../../scripts/displayUsers.js"></script>

<%- include("footerUser") %>
