
<!-- make form -- fill in with cur vals -->

<%- include("../users/headerUser") %> <%- include("../partials/nav") %>

<link rel="stylesheet" href="/styles/editAlbum.css" />

<link rel="stylesheet" href="/scripts/albumScripts/editAlbum.css">

<h1>Edit Album</h1>
<a href="/users/<%= user.id%>/photos/upload " class="btn btn-primary btm-sm">Add photos</a>
<!-- create class to center dice -->
<div class=""> 
<form action="/albums/<%= album._id %>/edit?_method=PUT" method="post">
 

    <label for="albumName">Album name</label>
    <input
    class="form-control"
       name="albumName"
       type="text"
       value="<%=
    album.alb_Name %>"
    />
    <br>

   <label for="albumDescription">Album desscription</label>
   <input
   class="form-control"
      name="albumDescription"
      type="text"
      value="<%=
   album.alb_description %>"
   />
   <br>

   <button class="btn btn-primary btn-sm" type="submit">Update</button>

   <% photosFound && photosFound.forEach((photo, ndx)=>{%>
      <div class="card">
      <img
      class="thumbnail"
      alt="<%= photo.caption %>"
      src="/resources/photos/<%=photo.fileName %>/thumb/500"
   />
   <label for="a<%= ndx%>"> Make album cover </label>
   <input type="radio" id="a<%= ndx%>" value="<%=photo._id%>" name="photoIdForAlbumCover">
   <br>
      <label for="d<%= ndx%>"> Delete photo and remove from album</label>
      <input type="checkBox" id="d<%= ndx%>" value="<%=photo._id%>" name="photoIdsToDelete">
      <br>

      <label for="r<%= ndx%>"> Remove photo from album (does not remove from photos)</label>
      <input type="checkBox" id="r<%= ndx%>" value="<%=photo._id%>" name="photoIdsToRemoveFromAlbum">
      <br>
   </div>
      <%})%>
      <button class="btn btn-primary btn-sm" type="submit">Update</button>


    




</form>
</div>
<br />





<!-- delete button -->
<button id="deleteOptionToggleBtn" class="btn btn-danger btn-sm">Delete Album</button>
<div id="deleteOptions">
<form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
   <h2>To delete, type delete into box below</h2>
   <label for="confirmDeleteText>">enter "delete"</label>

   <input type="text" id="confirmDeleteText" value="" name="confirmDeleteText"> 
   <br>
   <label for="deleteAlbumOnly"> delete album only</label>
   <input type="radio" id="deleteAlbumOnly>" value="deleteAlbumOnly" name="deleteOption"> 
   <br>
   <label for="deleteAlbumAndPhotos"> delete album and photos</label>
   <input type="radio" id="deleteAlbumAndPhotos" value="deleteAlbumAndPhotos" name="deleteOption">
   <br>
   <button type="submit" class="btn btn-danger btn-sm">Confirm Delete </button>

</div>
   

</form >

<script src="/scripts/showHideDeleteOptions.js"></script>



<%- include("../users/footerUser") %>




